<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
  <h3>Author:</h3>
  <%= @book.author %>
  <%= @book.price %>
  <%= @book.publishedDate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
