<p id="notice"><%= notice %></p>

<p>
  <p><strong>Title:</strong></p>
  <%= @book.title %>
  <p><strong>Author:</strong></p>
  <%= @book.author %>
  <p><strong>Price:</strong></p>
  <%= @book.price %>
  <p><strong>Date:</strong></p>
  <%= @book.publishedDate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
